<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database Connection -->

        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/erpflow
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
        </property>


        <!-- Hibernate Settings -->

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.show_sql">
            true
        </property>

        <property name="hibernate.format_sql">
            true
        </property>


        <!-- Schema Generation -->

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <mapping class="com.erpflow.model.Item"/>
        <mapping class="com.erpflow.model.Inventory"/>
        <mapping class="com.erpflow.model.Supplier"/>
        <mapping class="com.erpflow.model.InventoryTransaction"/>
        <mapping class="com.erpflow.model.PurchaseOrder"/>
        <mapping class="com.erpflow.model.PurchaseOrderItem"/>
        <mapping class="com.erpflow.model.SalesOrder"/>
        <mapping class="com.erpflow.model.SalesOrderItem"/>

        <mapping class="com.erpflow.model.Customer"/>


    </session-factory>

</hibernate-configuration>